RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://corprisk.com.au/ubi/$1 [L,R=301]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.corprisk.com.au [NC]
RewriteRule ^(.*)$ https://corprisk.com.au/ubi/$1 [L,R=301]

<FilesMatch "\.(?i:heic)$">
  Header set Content-Disposition attachment
</FilesMatch>
<FilesMatch "\.(?i:msg)$">
  Header set Content-Disposition attachment
</FilesMatch>